.form_contacts_grid{
    display: grid;
    grid-template-areas: "top_contacts top_contacts top_contacts"
    "left_contacts form_contacts right_contacts"
    "bottom_contacts bottom_contacts bottom_contacts";
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    padding: 90px 5px;
}
.top_contacts{
    grid-area: top_contacts;
    text-align: center;
}
.left_contacts{
    grid-area: left_contacts;
}
.right_contacts{
    grid-area: right_contacts;
}
.bottom_contacts{
    grid-area: bottom_contacts;
}
.form_contacts{
    grid-area:  form_contacts;
    display: grid;

}

.contacts_list {
    display: grid; 
    grid-template-areas: "name"
    "email"
    "number"
    "massager"
    "submit";
    grid-template-rows:  1fr 1fr 1fr 4fr 1fr;


   li{
        list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.name{
    grid-area: name;

}
.email{
    grid-area: email;
}
.number{
    grid-area: number;
}
.massager{
    grid-area: massager;
    textarea{
        
        height: 200px;
    }
}
.submit{
    grid-area: submit;
   
}}

.contacts_list_li{
    display: grid;
    grid-template-areas: "contacts_list_text form_input";
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    padding: 10px 0;
}
.contacts_list_text{
    grid-area: contacts_list_text;

    
    text-align: center;

}
.form_input{
    grid-area: form_input;
}

#name, #email, #number {
    width: 350px;
}
#submit{
width: 150px;}

#name, #email, #number, #massager, #submit{
    border: solid;
    border-radius: 10px 10px 10px 10px;
    border-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.social{
    width: 100%;
    margin: 150px 0;
    display: grid;
    grid-template-areas: "social_title"
    "social_list";
    grid-template-rows: 1fr 1fr;    
}
.social_title{
    grid-area: social_title;
    h3{
        text-align: center;
        font-size: 2em;
    }
}
.social_list{
    grid-area: social_list;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 200px;
    margin: 40px 0;
    li{
        list-style: none;
    }

}