
.home_flex{
    
    figure {
        margin: 0;
        padding: 0;
      }
    }

.columns{
    display: flex;



}
.column{
    flex: 1;
    flex-direction: column;
    padding: 10px;
    a{
    -webkit-box-shadow: 0px 0px 70px -2px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 70px -2px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 70px -2px rgba(0,0,0,0.54);
    border-radius: 15px 15px 15px 15px;
    border: 0;
    -webkit-box-shadow: 0px 0px 70px -2px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 0px 70px -2px rgba(0,0,0,0.54);
box-shadow: 0px 0px 70px -2px rgba(0,0,0,0.54);

    }
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;



}

.home_flex_item{
    
    margin: 10px;

    display: flex;
    flex-direction: column;
    flex-basis: auto;

}
.home_flex_item_body{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
.home_flex_item_content{
    flex: 1;
    
    
}
.home{
    img{
        width: 100%;
        height: auto;
        padding: 0;
    }
    p{
        font-size: 120%;
    }
    footer{
        font-size: 80%;
        opacity: 0.9;
        padding-left: 10px;
        padding-bottom: 3px;
    }
}
.nested-column{
    flex:2;

}
.oneflex{

}
.home_flex_item_info{
    padding-top: 10px;
}
.home_flex_item_title{
    padding-top: 5px;
}
@media screen and (min-width: 800px) {
    .columns,
    .column {
      display: flex;
    }
  }